문제1

In [3]:
num =  int(input("Enter a number: "))
if num%2!=0:
    print('%d is Odd number'%num)
else:
    print('%d is Even number'%num)

Enter a number:  14

14 is Even number

문제2

In [5]:
mid =  int(input('Enter your midterm score:'))
fin =  int(input('Enter your midterm score:'))
average = (mid+fin)/2
if average>=90:
    result = 'A'
elif average>=80:
    result = 'B'
elif average>=70:
    result = 'C'
elif average>=60:
    result = 'D'
else:
    result = 'F'
print('Average:',average)
print('Grade:',result)

Enter your midterm score: 77
Enter your midterm score: 56

Average: 66.5
Grade: D

문제3

In [6]:
eng = input('영어 점수 입력: ')
math = input('수학 점수 입력: ')
if (int(eng)+int(math))<110:
    print('불합격: 총합 점수 부족')
elif int(math)<40:
    print('불합격: 수학 점수 부족')
elif int(eng)<40:
    print('불합격: 영어 점수 부족')
else:
    print("합격")

영어 점수 입력:  56
수학 점수 입력:  89

합격

문제4

In [7]:
D = input('세개의 수를 입력하시오:').split()
D1,D2,D3 = map(int,D)
max_s = D1
if max_s<D2:
    max_s=D2
    if max_s<D3:
        max_s=D3
else:
    if max_s<D3:
        max_s=D3
print('가장 큰 수는 %d입니다.'%max_s)#print end 파라미터가 \n 바꿀수 있음!

세개의 수를 입력하시오: 30 22 50

가장 큰 수는 50입니다.

문제1-1

In [8]:
word = 'Python'
count = 0
while count<len(word):
    print(word[count])
    count+=1

P
y
t
h
o
n

문제1-2

In [9]:
word = 'Python'
for i in word:
    print(i)

P
y
t
h
o
n

문제2

In [17]:
for i in range(10,0,-1):
    print(i,end=',')
print('Happy new year!!')

10,9,8,7,6,5,4,3,2,1,Happy new year!!

문제3

In [18]:
nums = input('Enter two integers: ').split()
n1,n2 = map(int,nums)
total = 0
for i in range(n1,n2+1):
    total += i
print('The sum from %d to %d is %d'%(n1,n2,total))

Enter two integers:  5 10

The sum from 5 to 10 is 45

문제4

In [19]:
word = 'banana'
count = 0
for i in word:
    if i=='a':
        count +=1
print('a의 개수',count)

a의 개수 3

문제5

In [20]:
for i in range(0,10):
    if i<9:
        print(i,end=' ')
    else:
        print(i)       
for i in range(0,51,5):
    if i<50:
        print(i,end=' ')
    else:
         print(i)
for i in reversed(range(1,11)):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

문제6

In [21]:
colors = ["red","green","blue"]
for i in colors:
    print(i)

red
green
blue

문제7

In [23]:
a = [1,3,4,5,6,7,8,9,10,11,12,13]
for i in a:
    if i%2==0:
        print(i,end=' ')

4 6 8 10 12

문제8

In [25]:
num =  int(input('출력하고 싶은 단을 입력하세요: '))
for i in range(1,10):
    print('%d * %d = %2d'%(num,i,num*i))

출력하고 싶은 단을 입력하세요:  7

7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

문제9

In [28]:
count_x = 2
while count_x<10:
    count_y = 1
    print("== %d단 =="%count_x)
    while count_y<10:
        print("%d *%d = %2d"%(count_x,count_y,count_x*count_y))
        count_y +=1
    count_x +=1

== 2단 ==
2 *1 =  2
2 *2 =  4
2 *3 =  6
2 *4 =  8
2 *5 = 10
2 *6 = 12
2 *7 = 14
2 *8 = 16
2 *9 = 18
== 3단 ==
3 *1 =  3
3 *2 =  6
3 *3 =  9
3 *4 = 12
3 *5 = 15
3 *6 = 18
3 *7 = 21
3 *8 = 24
3 *9 = 27
== 4단 ==
4 *1 =  4
4 *2 =  8
4 *3 = 12
4 *4 = 16
4 *5 = 20
4 *6 = 24
4 *7 = 28
4 *8 = 32
4 *9 = 36
== 5단 ==
5 *1 =  5
5 *2 = 10
5 *3 = 15
5 *4 = 20
5 *5 = 25
5 *6 = 30
5 *7 = 35
5 *8 = 40
5 *9 = 45
== 6단 ==
6 *1 =  6
6 *2 = 12
6 *3 = 18
6 *4 = 24
6 *5 = 30
6 *6 = 36
6 *7 = 42
6 *8 = 48
6 *9 = 54
== 7단 ==
7 *1 =  7
7 *2 = 14
7 *3 = 21
7 *4 = 28
7 *5 = 35
7 *6 = 42
7 *7 = 49
7 *8 = 56
7 *9 = 63
== 8단 ==
8 *1 =  8
8 *2 = 16
8 *3 = 24
8 *4 = 32
8 *5 = 40
8 *6 = 48
8 *7 = 56
8 *8 = 64
8 *9 = 72
== 9단 ==
9 *1 =  9
9 *2 = 18
9 *3 = 27
9 *4 = 36
9 *5 = 45
9 *6 = 54
9 *7 = 63
9 *8 = 72
9 *9 = 81

In [ ]:
문제10

In [30]:
count_x = 2
while count_x<10:
    count_y = 1
    while count_y<10:
        if count_y<9:
            print("%d*%d=%2d"%(count_x,count_y,count_x*count_y),end=' ')
        else:
            print("%d*%d=%2d"%(count_x,count_y,count_x*count_y))
        count_y +=1
    count_x +=1

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81